@model WebApplication1.Models.ViewModels.AboutModel;
@{
    ViewData["Title"] = "About";
}
<h1 style="margin:20px">@ViewData["Title"]</h1>
@if (Model.RoleName == "admin")
{
    <form style="display: flex; flex-direction:column;" method="post" action="@Url.Action("AboutChange", "Home")">
         <textarea style="width: 100%; height: 400px;" id="TxtArea"  name="TxtArea">
            @Model.AboutText
        </textarea>
        <input class="btn btn-primary" type="submit" value="Save">
    </form>
       
}else 
{
        <p style="font-size: 18pt">@Model.AboutText</p> 
}